* {
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    place-items: center;

    gap: 32px;
    margin: 32px auto;

    min-width: 300px;
    width: max-content;
    max-width: 90%;

    background-color: #1e812e;
    color: white;
}

header {
    display: grid;
    text-align: center;
    width: 100%;
}

.buttons-container {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#game-board {
    display: flex;
    gap: 30px;
}

.square {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 8px;
}

.card.hidden,
button {
    background-color: #a94a2f;
}

.card {
    width: 60px;
    height: 80px;
    display: grid;
    place-content: center;
    border: 1px solid #000;
    background-color: white;
    border-radius: 7px;
    color: black;
    font-size: 28px;
    font-weight: bold;
}

.card,
button {
    cursor: pointer;
}

button {
    padding: 8px 16px;
    border-radius: 5px;
    border: solid 1px black;
    color: white;
    font-weight: 600;
}

button:hover {
    background-color: white;
    color: #a94a2f;
}

.red {
    color: rgb(236, 27, 27);
}

.card.selected {
    border: #ffb600;
    background-color: #ffe600;
}

@media (max-width: 768px) {
    #game-board {
        flex-direction: column;
    }
}